@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400;1,900&family=Passion+One:wght@400;900&family=Raleway:ital,wght@0,100;0,400;0,800;1,400;1,500&family=Young+Serif&display=swap');

// Add global colors and typography here
:root {
	--primary-color: #519fac;
	--secondary-color: #0a5060;
	--tertiary-color: #775c07;
	--dark-font: #0a5060;
	--light-font: #f9ffa8;
	--light-green: #8cc63f;
}

html {
	font-size: 62.5%;
	font-size: 10px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Young Serif', serif;
		color: var(--dark-font);
	}

	h1 {
		font-size: 2.2em;
		line-height: 1.2em;
	}

	h2 {
		font-size: 2em;
		line-height: 1.2em;
	}

	h3 {
		font-size: 1.8em;
		line-height: 1.2em;
	}

	h4 {
		font-size: 1.6em;
		line-height: 1.2em;
	}

	h5 {
		font-size: 1.4em;
		line-height: 1.2em;
	}

	h6 {
		font-size: 1.2em;
		line-height: 1.2em;
	}

	body {
		margin: 0;
		font-family: 'Raleway', sans-serif;
		font-size: 1.6rem;
	}
}

.content-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
}
